cypress/screenshots/Search_Products.cy.js/MAAX Website - Search for Product -- Verify search filters - Product Series - Failed Test (Actual Bug) (failed).png
cypress/screenshots/Where_To_Buy.cy.js/MAAX Website - Search for Product -- should display authorized dealers in user location (failed).png
cypress/videos/Search_Products.cy.js.mp4
cypress/videos/Where_To_Buy.cy.js.mp4
cypress/videos/
cypress/screenshots/